.buttongoToLogin {
	margin: 10px 0px;
	width: 200px;
	height: 50px;
}

.buttonBack {
	text-align: center;
}

.getMediaList {
	margin: auto;
	max-width: 46rem;
}

.oneMovie {
	display: inline-block;
	border-color: rgb(194, 186, 186);
	border-style: solid;
	padding: 30px;
	margin: 20px;
	min-height: 12rem;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 50% 50%;
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.oneMovie:hover {
	color: rgb(5, 165, 5);
	border-color: rgb(5, 165, 5);
	font-weight: bold;
	cursor: pointer;
	background-color: rgba(190, 168, 126, 0.021);
}

.miniatureImage {
	display: inline-block;
	width: 100%;
	border-radius: 8px;
}

.detailsTitle {
	font-size: 2rem;
}

.detailsMediaType {
	margin-top: 10px;
	color: rgb(139, 80, 80);
}

.detailsDuration {
	color: grey;
	padding-top: 10px;
}

.textWithout {
	text-align: center;
	margin: 10px;
	font-size: small;
	font-style: italic;
}

.totalPages {
	text-align: center;
	border-style: solid;
	border-color: rgb(248, 248, 248);
	border-radius: 15px;
	max-width: 30rem;
	margin: auto;
	max-height: 10rem;
	padding: 14px;
}

.paginationButtons {
	width: 50px;
	height: 50px;
	margin: 0px 20px;
}
