.buttonGoBack {
	margin: 10px 0px;
	width: 150px;
	height: 50px;
}

.buttonBack {
	text-align: center;
}

.getMediaList {
	padding: 40px;
	border-style: solid;
	margin: 20px;
}

.oneMovie {
	color: red;
	border-style: dotted;
	padding: 40px;
	margin: 20px;
}

.oneMovie:hover {
	color: green;
	font-weight: bold;
	cursor: pointer;
}
